@keyframes pulse {
  0% {
    opacity: .1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .1;
  }
}

@keyframes pulse-and-scale {
  0% {
    width: 100%;
    opacity: .0;
  }
  50% {
    opacity: .1;
  }
  100% {
    width: 100%;
    opacity: .0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

