#nav-bar {
  user-select: none;

  ul {
    list-style: none;
    display: flex;
    margin: 0 0 0 24px;
    padding: 0;
    align-items: center;
  }

  a {
    color: $cool-grey;
    display: flex;
    font-size: 12px;
    height: 32px;
    text-decoration: none;
    transition: box-shadow 100ms,
                background 100ms;
    width: 160px;

    &:hover,
    &:focus,
    &.active {
      background: darken($background, 2);
    }

    &:active {
      background: darken($background, 10);
    }

    &.active {
      color: $mobile-blue;
    }
  }
}

.row-layout #nav-bar {
  border-bottom: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 1px 0 rgba(255,255,255,.4);
  
  a {
    align-items: center;
    justify-content: center;

    &.active {
      box-shadow: 0 -3px 0 $mobile-blue inset;
    }
  }
}

.column-layout #nav-bar {
  border-right: 1px solid rgba(0,0,0,.1);
  box-shadow: 1px 0 0 rgba(255,255,255,.4);
  flex: 0 0 160px;

  ul {
    flex-direction: column;
    margin-top: 40px;
  }

  a {
    align-items: center;
    padding: 0 20px;

    &.active {
      box-shadow: 3px 0 $mobile-blue inset;
    }
  }
}

.pipe {
  height: 20px; 
  width: 1px;
  background: darken($background, 10)
}
